fastapi==0.115.0
uvicorn[standard]==0.30.6
psycopg2-binary==2.9.9
pydantic==2.8.2
python-dotenv==1.0.1
faiss-cpu==1.13.2
sentence-transformers==2.6.1
torch==2.1.2
deep-translator==1.11.4
openai==1.52.0
numpy==1.26.4
pandas==2.2.2
joblib==1.4.2
