fastapi==0.135.1
uvicorn[standard]==0.32.0
psycopg2-binary==2.9.11
pydantic==2.12.5
python-dotenv==1.2.2
faiss-cpu==1.13.2
sentence-transformers==2.2.2
torch==2.2.2
deep-translator==1.11.4
openai==1.52.0
numpy==1.26.4
pandas==2.2.2
joblib==1.4.2
